
@{
    ViewBag.Title = "OFERTARE - Manual Utilizare";
}

<div class="jumbotron small">
    <h5>@ViewBag.Title <span> - sectiune in lucru ... </span></h5>
    <h6>OFERTARE -- modul in lucru...</h6>

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
    @*<h3>@ViewBag.Message</h3>*@
</div>