@{
    ViewBag.Title = "Rapoarte";
}

<div class="jumbotron small">
    <h5>@ViewBag.Title <span> - sectiune in lucru ... </span></h5>
    @*<h3>@ViewBag.Message</h3>*@

    <address>

        design IT: Horatiu Pop <br />
        Cluj-Napoca, Romania<br /> <br />

        concept economic: Dorian Cadariu <br />
        Specialist Vanzari & Promovare Produs <br />
        Cluj-Napoca, Romania<br />

    </address>

    <address>
        <strong>Support:</strong>   <a href='@Url.Action("ManualUtilizare", "Home")'>Manual Utilizare CRM & Sales Helper</a><br />
    </address>

</div>